body{
    margin: 20px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    gap: 20px;
}

.forms{
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 200px 300px 300px;
    border: 1px solid;
}

.general-container{
    grid-row: 1/2;
    border-bottom: 1px solid;
}

.edu-container{
    grid: 2/3;
    border-bottom: 1px solid;
    overflow-y: auto;
}

.practice-container{
    grid: 3/4;
    overflow-y: auto;
}

.edu-container,
.general-container,
.practice-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cv{
    border: 1px solid;
    grid-column: 2/3;    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}

.gen-info,
.edu-info{
    border-bottom: 1px solid;
}

.gen-info,
.edu-info,
.pra-info{
    width: 600px;
}

form,
input,
button{
    font-size: 20px;
}

h1{
    text-transform: uppercase;
}